<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liteart.apps.lordiyapan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.liteart.apps.lordiyapan.firebase.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_iyyappa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.liteart.apps.lordiyapan.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.liteart.apps.lordiyapan.ArupadaiVeedugalAcivity"
            android:parentActivityName="com.liteart.apps.lordiyapan.MainActivity" />
        <activity
            android:name="com.liteart.apps.lordiyapan.ArupadaiVeedugalContentActivity"
            android:parentActivityName="com.liteart.apps.lordiyapan.ArupadaiVeedugalAcivity" />
        <activity
            android:name="com.liteart.apps.lordiyapan.EssayActivity"
            android:parentActivityName="com.liteart.apps.lordiyapan.MainActivity" />
        <activity
        android:name="com.liteart.apps.lordiyapan.EssayWebviewActivity"
        android:theme="@style/AppTheme.NoActionBar"
        />
        <activity
            android:name="com.liteart.apps.lordiyapan.WebViewActivity"
            android:parentActivityName="com.liteart.apps.lordiyapan.ArupadaiVeedugalAcivity"
            />
        <activity android:name="com.liteart.apps.lordiyapan.WebviewBrowser" />
        <activity
            android:name="com.liteart.apps.lordiyapan.TabViewMainActivity"
            android:label="@string/videos"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.liteart.apps.lordiyapan.TabViewStoriesEssays"
            android:label="@string/stories"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.liteart.apps.lordiyapan.PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy" />

        <activity android:name="com.liteart.apps.lordiyapan.BakthiPaadalgal"
            android:launchMode="singleTask"
            android:parentActivityName="com.liteart.apps.lordiyapan.MainActivity" />
        <activity
            android:name="com.liteart.apps.lordiyapan.GalleryActivity"
            android:parentActivityName="com.liteart.apps.lordiyapan.MainActivity" />
        <activity
            android:name="com.liteart.apps.lordiyapan.SpacePhotoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:parentActivityName="com.liteart.apps.lordiyapan.GalleryActivity" />
        <activity android:name="com.liteart.apps.lordiyapan.RadioFMActivity"
            ></activity>
        <activity android:name="com.liteart.apps.lordiyapan.NewsDesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.liteart.apps.lordiyapan.NewsListActivity"/>
        <activity android:name="com.liteart.apps.lordiyapan.NewsListActivity"
            />
    </application>

</manifest>